[submodule "dat-gui"]
	path = dat-gui
	url = git@github.com:dataarts/dat.gui.git
[submodule "jsfeat"]
	path = jsfeat
	url = git://github.com/inspirit/jsfeat.git
[submodule "delaunay"]
	path = delaunay
	url = git://github.com/ironwallaby/delaunay.git
[submodule "prefixfree"]
	path = prefixfree
	url = https://github.com/LeaVerou/prefixfree.git
